---
import "../css/main.css";
import "../css/button.css";

import Header from "../components/Header.vue";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import TherapeuticApproach from "../components/TherapeuticApproach.astro";
---

<style>
  body {
    font-family: var(--font-bellota-text);
    font-size: 1.25rem;
    color: var(--color-green-500);

    background-color: var(--color-beige-100);
  }
</style>

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Marie Santschi - Cabinet de physiothérapie et acupuncture</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header client:load />
    <Hero />
    <TherapeuticApproach />
    <Footer />
  </body>
</html>
