---
import SunIcon from "../icons/SunIcon.astro";
import WaveIcon from "../icons/WaveIcon.astro";
import CollaborateIcon from "../icons/CollaborateIcon.astro";
---

<style>
  .container {
    padding: 2.5rem 0.75rem;
  }

  @media (min-width: 48rem) {
    .container {
      padding: 2.5rem 1.25rem;
    }
  }

  @media (min-width: 64rem) {
    .container {
      padding: 2.5rem;
    }
  }

  .wrapper {
    border: 2px solid var(--color-green-400);
    border-radius: var(--rounded-sm);
  }

  .wrapper-title {
    padding: 0.5rem;
    border-bottom: 2px solid var(--color-green-400);
  }

  .wrapper-title h2 {
    font-weight: 700;
  }

  .blank {
    height: 0.625rem;
    border-bottom: 2px solid var(--color-green-400);
  }

  .decoration {
    background-color: var(--color-green-400);
    height: 364px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .decoration svg {
    position: absolute;
    inset: -0.5rem;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
  }

  @media (min-width: 48rem) {
    .decoration svg {
      width: 160%;
      height: 160%;
      top: -30%;
      left: -30%;
    }
  }

  @media (min-width: 64rem) {
    .decoration {
      height: auto;
      width: calc(1 / 3 * 100%);
    }

    .decoration svg {
      width: 140%;
      height: 140%;
      top: -20%;
      left: -20%;
    }
  }

  .approach {
    padding: 1rem 1.25rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 48rem) {
    .approach {
      padding: 1rem 1.25rem 1.5rem 1.25rem;
      flex: 1 0 0;
    }
  }

  .approach:not(:last-child) {
    border-bottom: 2px solid var(--color-green-400);
  }

  @media (min-width: 48rem) {
    .approach:not(:last-child) {
      border-right: 2px solid var(--color-green-400);
      border-bottom: 0;
    }
  }

  .approach-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .approach-content h3 {
    font-weight: 700;
  }

  .wrapper-approche {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 48rem) {
    .wrapper-approche {
      flex-direction: row;
    }
  }

  @media (min-width: 64rem) {
    .wrapper-approche {
      width: calc(2 / 3 * 100%);
    }
  }

  .wrapper-content {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 64rem) {
    .wrapper-content {
      flex-direction: row;
    }
  }
</style>

<section class="container" id="approche-therapeutique">
  <div class="wrapper">
    <div class="wrapper-title">
      <h2 class="heading-md">Approche thérapeutique</h2>
    </div>
    <div class="blank" aria-hidden="true"></div>
    <div class="wrapper-content">
      <div class="decoration">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 366 357"
          fill="none"
        >
          <path
            d="M-10.5557 356.138C-10.5499 356.137 -10.5413 356.136 -10.5302 356.134C-10.5075 356.13 -10.474 356.123 -10.4298 356.115C-10.3411 356.098 -10.2091 356.074 -10.0356 356.041C-9.68824 355.975 -9.17287 355.876 -8.49898 355.744C-7.15105 355.48 -5.16726 355.083 -2.61892 354.548C2.47765 353.478 9.83436 351.857 18.8856 349.651C36.9868 345.239 61.8746 338.487 89.0221 329.124C143.26 310.418 206.755 281.211 243.023 239.264C252.068 228.803 256.919 220.639 258.321 214.255C259.026 211.044 258.869 208.241 257.89 205.814C256.907 203.379 255.126 201.397 252.73 199.799C247.996 196.641 240.841 194.97 232.49 194.075C224.098 193.175 214.262 193.038 203.991 193.094C183.34 193.204 160.972 194.078 144.098 191.297C135.675 189.909 128.836 187.638 124.303 184.051C119.841 180.52 117.469 175.596 118.231 168.57C118.983 161.628 123.872 154.747 132.142 147.989C140.402 141.24 151.914 134.714 165.641 128.488C193.091 116.036 229.153 104.887 265.088 95.5516C301.009 86.2199 336.741 78.7173 363.496 73.5466C376.872 70.9615 388.002 68.9595 395.786 67.6045C399.678 66.9269 402.734 66.4116 404.816 66.0653C405.857 65.8921 406.655 65.7609 407.191 65.6734C407.46 65.6297 407.663 65.5972 407.799 65.5753C407.867 65.5644 407.918 65.5556 407.952 65.5502C407.968 65.5475 407.981 65.5454 407.99 65.5441C407.994 65.5434 407.998 65.5429 408 65.5426C408.001 65.5395 407.989 65.484 407.739 64.3945C407.475 63.2467 407.474 63.2467 407.472 63.2471C407.469 63.2475 407.466 63.248 407.462 63.2486C407.453 63.2501 407.44 63.2527 407.422 63.2555C407.387 63.2611 407.335 63.2687 407.266 63.2798C407.129 63.302 406.924 63.3355 406.654 63.3795C406.114 63.4675 405.312 63.5991 404.268 63.7729C402.178 64.1205 399.114 64.6376 395.213 65.3166C387.412 66.6746 376.262 68.6799 362.863 71.2694C336.067 76.4479 300.264 83.9653 264.254 93.3201C228.259 102.671 191.992 113.874 164.301 126.435C150.459 132.714 138.698 139.359 130.18 146.319C121.672 153.272 116.276 160.64 115.439 168.36C114.612 175.997 117.207 181.657 122.373 185.746C127.47 189.779 134.921 192.167 143.554 193.59C160.791 196.431 183.594 195.54 204.009 195.431C214.27 195.376 223.942 195.515 232.133 196.393C240.366 197.276 246.871 198.884 250.979 201.624C253.005 202.975 254.441 204.597 255.233 206.56C256.029 208.53 256.204 210.919 255.564 213.834C254.275 219.7 249.72 227.522 240.749 237.897C204.954 279.296 142.073 308.298 87.9508 326.964C60.9182 336.288 36.1291 343.013 18.0991 347.407C9.08522 349.604 1.76294 351.218 -3.30328 352.282C-5.83637 352.814 -7.80548 353.208 -9.13955 353.469C-9.80656 353.6 -10.3153 353.697 -10.6561 353.762C-10.8263 353.794 -10.9548 353.818 -11.0403 353.834C-11.0829 353.842 -11.115 353.848 -11.1361 353.851C-11.1466 353.853 -11.1547 353.855 -11.1598 353.856C-11.1622 353.856 -11.1653 353.857 -11.1653 353.857C-11.1653 353.857 -11.1619 353.875 -10.866 354.999C-10.5733 356.11 -10.5648 356.14 -10.563 356.14C-10.563 356.14 -10.5587 356.139 -10.5557 356.138Z"
            fill="#F8F6F0"></path>
          <path
            d="M-30.1778 331.207C-30.172 331.206 -30.1634 331.205 -30.1523 331.203C-30.1297 331.199 -30.0959 331.192 -30.0519 331.184C-29.9636 331.167 -29.8323 331.143 -29.6595 331.11C-29.3137 331.044 -28.8003 330.946 -28.1293 330.815C-26.7873 330.551 -24.8127 330.155 -22.2757 329.621C-17.2018 328.553 -9.87793 326.936 -0.866943 324.736C17.1536 320.337 41.9307 313.602 68.9574 304.264C122.954 285.608 186.166 256.479 222.273 214.644C231.278 204.211 236.108 196.069 237.504 189.701C238.206 186.499 238.049 183.703 237.074 181.282C236.095 178.853 234.322 176.876 231.937 175.282C227.222 172.132 220.096 170.465 211.783 169.572C203.427 168.675 193.635 168.539 183.41 168.594C162.85 168.704 140.582 169.575 123.785 166.801C115.401 165.417 108.594 163.153 104.083 159.576C99.6419 156.055 97.2801 151.146 98.0384 144.139C98.7877 137.216 103.654 130.354 111.886 123.614C120.109 116.883 131.569 110.376 145.235 104.166C172.562 91.7483 208.462 80.6292 244.237 71.3189C279.997 62.0123 315.568 54.5293 342.204 49.3724C355.521 46.7943 366.601 44.7984 374.351 43.447C378.226 42.7714 381.268 42.2571 383.34 41.9117C384.376 41.739 385.17 41.6085 385.704 41.5213C385.971 41.4777 386.174 41.4443 386.309 41.4224C386.377 41.4115 386.428 41.4035 386.462 41.3981C386.479 41.3954 386.492 41.3933 386.5 41.392C386.504 41.3913 386.507 41.3908 386.509 41.3905C386.511 41.3902 386.512 41.3901 386.248 40.2424C385.99 39.1211 385.983 39.0953 385.981 39.095C385.979 39.0954 385.975 39.0959 385.971 39.0965C385.962 39.098 385.949 39.1006 385.931 39.1034C385.897 39.109 385.845 39.1167 385.776 39.1277C385.639 39.1499 385.435 39.1835 385.166 39.2274C384.628 39.3152 383.83 39.4459 382.791 39.6192C380.711 39.9659 377.66 40.482 373.777 41.1592C366.01 42.5136 354.909 44.5134 341.57 47.096C314.894 52.2606 279.251 59.7584 243.402 69.0881C207.567 78.4141 171.461 89.5868 143.894 102.114C130.112 108.376 118.403 115.004 109.923 121.947C101.452 128.881 96.0804 136.229 95.2471 143.929C94.4228 151.545 97.0069 157.191 102.152 161.27C107.226 165.293 114.646 167.675 123.241 169.094C140.403 171.928 163.105 171.04 183.428 170.931C193.643 170.876 203.271 171.015 211.425 171.89C219.621 172.771 226.096 174.374 230.184 177.106C232.199 178.453 233.628 180.07 234.417 182.027C235.208 183.992 235.383 186.374 234.746 189.281C233.463 195.131 228.929 202.932 219.999 213.279C184.364 254.565 121.764 283.489 67.8843 302.105C40.9727 311.403 16.2949 318.111 -1.65442 322.493C-10.6282 324.684 -17.9183 326.293 -22.9619 327.354C-25.4835 327.885 -27.4437 328.279 -28.7717 328.539C-29.4356 328.669 -29.9418 328.767 -30.2809 328.831C-30.4503 328.863 -30.5782 328.887 -30.6633 328.903C-30.7058 328.911 -30.7381 328.916 -30.7591 328.92C-30.7693 328.922 -30.7769 328.924 -30.7819 328.925C-30.7842 328.925 -30.7874 328.926 -30.7874 328.926C-30.7874 328.926 -30.7891 328.926 -30.4881 330.068C-30.187 331.209 -30.1842 331.209 -30.1842 331.209C-30.1842 331.209 -30.1806 331.208 -30.1778 331.207Z"
            fill="#F8F6F0"></path>
          <path
            d="M-41.3905 293.031C-41.3846 293.03 -41.376 293.029 -41.3649 293.027C-41.3422 293.023 -41.3087 293.016 -41.2645 293.008C-41.1759 292.991 -41.0438 292.967 -40.8703 292.934C-40.523 292.868 -40.0076 292.769 -39.3337 292.637C-37.9858 292.373 -36.002 291.976 -33.4537 291.441C-28.3571 290.371 -21.0004 288.75 -11.9491 286.544C6.15202 282.132 31.0399 275.38 58.1873 266.017C112.425 247.311 175.92 218.103 212.189 176.157C221.234 165.696 226.084 157.532 227.486 151.148C228.192 147.937 228.034 145.134 227.055 142.707C226.072 140.272 224.291 138.29 221.896 136.692C217.161 133.534 210.006 131.863 201.656 130.968C193.263 130.068 183.428 129.931 173.156 129.986C152.506 130.097 130.137 130.971 113.263 128.19C104.84 126.802 98.0013 124.531 93.4686 120.944C89.0066 117.413 86.6343 112.489 87.396 105.463C88.1488 98.5209 93.0369 91.6401 101.307 84.8824C109.567 78.1329 121.079 71.6071 134.806 65.3805C162.256 52.9293 198.318 41.7799 234.253 32.4445C270.175 23.1128 305.906 15.6103 332.661 10.4395C346.038 7.85445 357.167 5.85239 364.952 4.49736C368.844 3.81985 371.9 3.30454 373.982 2.95818C375.022 2.78501 375.82 2.65378 376.357 2.56635C376.625 2.52265 376.829 2.49011 376.964 2.4682C377.032 2.4573 377.083 2.44854 377.117 2.44309C377.134 2.44038 377.147 2.43835 377.155 2.437C377.159 2.43633 377.163 2.43582 377.165 2.43548C377.166 2.43239 377.154 2.37695 376.904 1.28737C376.641 0.139568 376.639 0.139656 376.637 0.140028C376.635 0.140383 376.631 0.140863 376.627 0.141549C376.618 0.142967 376.605 0.145617 376.588 0.148397C376.553 0.153994 376.5 0.161653 376.432 0.172744C376.294 0.194932 376.089 0.228447 375.819 0.272414C375.279 0.360427 374.478 0.491979 373.433 0.665768C371.344 1.01339 368.279 1.5305 364.379 2.20951C356.577 3.56752 345.427 5.57285 332.028 8.16232C305.233 13.3408 269.429 20.8582 233.419 30.213C197.424 39.564 161.157 50.7674 133.467 63.3278C119.624 69.6068 107.863 76.252 99.345 83.2123C90.8371 90.1645 85.4417 97.5329 84.6047 105.253C83.7769 112.889 86.3719 118.55 91.5387 122.639C96.6349 126.672 104.087 129.06 112.719 130.483C129.957 133.324 152.759 132.433 173.174 132.324C183.435 132.269 193.107 132.408 201.298 133.286C209.531 134.169 216.037 135.777 220.145 138.517C222.17 139.868 223.607 141.49 224.399 143.453C225.194 145.423 225.369 147.812 224.729 150.727C223.44 156.593 218.885 164.415 209.915 174.79C174.12 216.188 111.238 245.191 57.1161 263.857C30.0834 273.18 5.29437 279.906 -12.7357 284.3C-21.7495 286.497 -29.0718 288.111 -34.138 289.175C-36.6711 289.707 -38.6402 290.101 -39.9743 290.362C-40.6413 290.493 -41.1501 290.59 -41.4908 290.655C-41.661 290.687 -41.7896 290.711 -41.875 290.727C-41.9176 290.735 -41.9497 290.74 -41.9708 290.744C-41.9813 290.746 -41.9894 290.748 -41.9945 290.749C-41.9969 290.749 -42 290.75 -42 290.75C-42 290.75 -41.9967 290.768 -41.7007 291.892C-41.408 293.003 -41.3996 293.032 -41.3978 293.033C-41.3978 293.033 -41.3934 293.032 -41.3905 293.031Z"
            fill="#F8F6F0"></path>
        </svg>
      </div>
      <div class="wrapper-approche">
        <div class="approach approach-1">
          <SunIcon />
          <div class="approach-content">
            <h3 class="text-lg">écouter</h3>
            <p class="text-sm">
              Chaque personne est unique. J’accorde une attention particulière à
              l’écoute, au respect et à l’individualité de chacun·e, pour créer
              un cadre de soin bienveillant et adapté. Echanges et enseignements
              font aussi partie de ma pratique.
            </p>
          </div>
        </div>
        <div class="approach approach-2">
          <CollaborateIcon />
          <div class="approach-content">
            <h3 class="text-lg">collaborer</h3>
            <p class="text-sm">
              Je travaille en collaboration avec mes patient·e·s en les
              considérant dans leur globalité. Nous formons une équipe car votre
              investissement personnel est essentiel pour progresser et
              retrouver votre autonomie.
            </p>
          </div>
        </div>
        <div class="approach approach-3">
          <WaveIcon />
          <div class="approach-content">
            <h3 class="text-lg">bouger</h3>
            <p class="text-sm">
              Que ce soit en physiothérapie ou en acupuncture, le mouvement
              occupe une place centrale, car le mouvement, c’est la vie ! C’est
              pourquoi mes séances reposent sur un travail actif, pour redonner
              au corps sa capacité naturelle à se guérir lui-même.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
